.container {
	background: var(--light-body-color);
	height: 95vh;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
 }

  .block {
	max-width: var(--max-width);
	display: grid;
    align-items: center;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1rem;
	margin: 0 auto;
 }
 
 .container .text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: 5rem;
	font-size: 1.1rem;
 }
 
 .container img {
	width: 40rem;
 }
 
 @keyframes favicon-shake {
	0%, 100% {
		transform: rotate(0);
  }
  
  25% {
		transform: rotate(5deg);
  }
  50% {
		transform: rotate(-5deg);
  }
  75% {
		transform: rotate(5deg);
  }
 }
 
 .container img:hover {
	animation: favicon-shake 0.7s ease-in-out 2 alternate;
 }
 
 .container p {
	color: var(--secondary-color);
	margin-top: 1rem;
 }
 
 .container h1,
 .container h3 {
	color: var(--btn-red);
 }
 
 .container img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
 }
@media screen and (max-width: 640px) {
    .block {
        grid-template-columns: 1fr;
 }

}

     
 



